.App {
  text-align: center;
  font-size: auto;
}
.menubar {
  background-color: rgb(85, 85, 175);
  padding-top: 1em;
  padding-bottom: 1em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px; 
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px; 
  margin-top: 5px;

}
.tital{
  text-align: left;
  margin-left: 25px;
  font-size: 30px;
  font-weight: bolder;

}


.box {
  display: flex;
  
  
  

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(50, 158, 47);
  background-color: rgb(95, 21, 21);
  border-style: double;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container {
  padding: auto;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
