.App {
  font-size: auto;
}
.contary { 
  line-height: 0.9;
  margin-left: 20px;
}

.contary a{ 
  line-height: 0;
}

.update{
  font-size: 14px;  
}

.box {
  margin-left:10px;
  width: 100%;
  

}

.card {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 100px;
  margin-top: 5px;
  margin-left:10px;
  margin-right:10px;
  bottom: 10px;
  
  color: rgb(126, 108, 105);
  background-color: rgb(226, 229, 238);
  border-inline-start-style: outset;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* .container h4 {
 background-color: lightgray;
} */
.container {
  padding: auto;
  padding-top: 0px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
